<h1>Show</h1>
<p>
  Datetime:
  <%= @workout_record.performed_at.strftime("%Y/%m/%d %H:%M") %>
</p>
<p>
  Exercise:
  <% @workout_record.workouts.each do |workout| %>
   <%= workout.exercise.name %><br>
   <% end %>
</p>
<p>
  Weight:
  <%= @workout_record.weight %>
</p>
<p>
  reps:
  <%= @workout_record.reps %>
</p>
<p>
  Memo:
  <%= @workout_record.memo %>
</p>
<%= link_to "top", workout_records_path %>